#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

#result{
    height: 50px;
    width: 200px;
    background-color: coral;
    padding: 20px;
    border: 2px black solid;
}

.select{
    margin: 6px;
    padding: 7px;
    background-color: antiquewhite;
}