*{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=112076), auto !important;
}

body{
    background-color:bisque;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#instr2{
    margin-top: 0px;
}

#result{
    height: 70px;
    width: 250px;
    background-color: coral;
    padding: 30px;
    border: 2px black solid;
    white-space: pre;
    text-align: center;
    margin: 40px 0 20px 0;
    font-family: monospace;
    font-size: large;
}

.select{
    margin: 6px;
    padding: 7px;
    background-color: antiquewhite;
    transition: all 0.3s;
    font-family: monospace;
    font-size: large;
}

.select:focus{
    border: 2.5px red solid;
    background-color: coral;
}

#rock{
    cursor: url(https://cur.cursors-4u.net/people/peo-3/peo202.cur), auto !important;
}

#paper{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=93812), auto !important;
}

#scissors{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=114969), auto !important;
}